.form-contra {
  width: 480px;
  height: 270px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  cursor: pointer;
  background: #f3a925;
  border-radius: 23px;
}
.panel-1 {
  align-items: center;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.form-text {
  text-align: center;
}
.form-input {
  text-align: center;
}
.caja-text {
  width: 250px;
  height: 25px;
  border-radius: 5px;
  border: 0;
}
.form-btn {
  display: flex;
  justify-content: right;
  gap: 10px;
  padding-top: 20px;
}
.btn-contraseña {
  background: #e34e31;
  border: 0;
  border-radius: 15px;
  height: 30px;
  cursor: pointer;
  &:hover {
    color: #ffff;
  }
}
.caja-text:focus {
  outline: none;
}
